@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@font-face {
  font-family: "Uni Neue";
  src: url("/fonts/UniNeue-Trial-Regular.woff2") format("woff2"),
       url("/fonts/UniNeue-Trial-Regular.woff") format("woff"),
       url("/fonts/UniNeue-Trial-Regular.eot") format("embedded-opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Uni Neue";
  src: url("/fonts/UniNeue-Trial-BoldItalic.woff2") format("woff2"),
       url("/fonts/UniNeue-Trial-Bold.woff") format("woff"),
       url("/fonts/UniNeue-Trail-Bold.eot") format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
}

 */
